Create a NumPy array containing numbers from 10 to 50 with step 5.

In [ ]:
import numpy as np

arr = np.arange(10, 51, 5)
print(arr)

Create a 3x3 matrix with random integers between 1 and 100.

In [ ]:
matrix = np.random.randint(1, 101, size=(3,3))
print(matrix)

Find the mean, median, and standard deviation of an array.

In [ ]:
arr = np.array([10, 20, 30, 40, 50])

mean = np.mean(arr)
median = np.median(arr)
std = np.std(arr)

print(mean, median, std)

Reshape a 1D array of 12 elements into a 3x4 matrix.

In [ ]:
arr = np.arange(1, 13)
reshaped = arr.reshape(3,4)
print(reshaped)

Extract all even numbers from an array.

In [ ]:
arr = np.array([1,2,3,4,5,6,7,8])
evens = arr[arr % 2 == 0]
print(evens)

Replace all values greater than 50 with 0.

In [ ]:
arr = np.array([10, 60, 30, 80, 40])
arr[arr > 50] = 0
print(arr)

Perform element-wise multiplication of two arrays.

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])

result = a * b
print(result)

Compute the dot product of two matrices.

In [ ]:
A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])

dot = np.dot(A, B)
print(dot)

Find the index of the maximum and minimum values in an array.

In [ ]:
arr = np.array([5, 20, 1, 40])

max_index = np.argmax(arr)
min_index = np.argmin(arr)

print(max_index, min_index)

Normalize an array so values are between 0 and 1.

In [ ]:
arr = np.array([10,20,30,40,50])

normalized = (arr - arr.min()) / (arr.max() - arr.min())
print(normalized)

# PANDAS â€“ BASIC LEVEL

Create a DataFrame from a dictionary.

In [ ]:
import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age": [20, 25, 30]
}

df = pd.DataFrame(data)
print(df)

Load a CSV file and display the first 5 rows.

In [ ]:
df = pd.read_csv("file.csv")
print(df.head())

Select specific columns from a DataFrame.

In [ ]:
df[["Name", "Age"]]

Filter rows where a column value is greater than a given number.

In [ ]:
df[df["Age"] > 25]

Add a new column based on an existing column.

In [ ]:
df["Age_in_5_Years"] = df["Age"] + 5

Drop rows with missing values.

In [ ]:
df.dropna(inplace=True)

Group by one column and calculate the average of another column.

In [ ]:
df.groupby("Department")["Salary"].mean()

Merge two DataFrames on a common column.

In [ ]:
pd.merge(df1, df2, on="ID")

Convert a column to datetime format.

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])

Create a pivot table showing the average of one column grouped by two other columns.

In [ ]:
pd.pivot_table(df,
               values="Sales",
               index="Region",
               columns="Year",
               aggfunc="mean")

# ðŸ”¥ NUMPY â€“ ADVANCED

## Create a 5x5 identity matrix, then replace the diagonal with values 10, 20, 30, 40, 50.

In [ ]:
I = np.eye(5)
np.fill_diagonal(I, [10,20,30,40,50])
print(I)

Given two 2D arrays of different shapes, use broadcasting to compute their outer sum (no loops).

In [ ]:
a = np.array([[1],[2],[3]])
b = np.array([10,20,30])

outer_sum = a + b
print(outer_sum)

Create an array of 100 random numbers from a normal distribution and clip all values outside 2 standard deviations.

In [ ]:
arr = np.random.normal(0,1,100)

clipped = np.clip(arr, -2, 2)

Use np.argsort() to sort a 2D array by its second column.

In [ ]:
arr = np.array([[1,9],[3,2],[5,4]])

sorted_arr = arr[np.argsort(arr[:,1])]
print(sorted_arr)

Create a structured NumPy array to store employee records with fields: name (string), age (int), salary (float).

In [ ]:
dtype = [("name","U10"), ("age","i4"), ("salary","f4")]

employees = np.array([
    ("John", 25, 50000.0),
    ("Anna", 30, 60000.0)
], dtype=dtype)

print(employees)

Given a 4x4 matrix, extract the upper triangular portion using a NumPy function.

In [ ]:
arr = np.arange(16).reshape(4,4)
upper = np.triu(arr)
print(upper)

Stack three 1D arrays of length 5 vertically and horizontally, then describe the shape of each result.

In [ ]:
a = np.arange(5)
b = np.arange(5,10)
c = np.arange(10,15)

vertical = np.vstack((a,b,c))
horizontal = np.hstack((a,b,c))

print(vertical.shape)   # (3,5)
print(horizontal.shape) # (15,)

Compute the cumulative sum of an array row-wise and column-wise using np.cumsum().

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])

row_cumsum = np.cumsum(arr, axis=1)
col_cumsum = np.cumsum(arr, axis=0)

Given a 2D array, find all rows where the row sum exceeds 100.

In [ ]:
arr = np.array([[50,60],[10,20],[80,30]])

rows = arr[np.sum(arr, axis=1) > 100]
print(rows)

Use np.linalg to compute the inverse and determinant of a 3x3 matrix.

In [ ]:
A = np.array([[1,2,3],
              [0,1,4],
              [5,6,0]])

det = np.linalg.det(A)
inv = np.linalg.inv(A)

print(det)
print(inv)

# ðŸ“Š PANDAS â€“ ADVANCED

### Load a CSV file, identify columns with more than 20% missing values, and drop only those columns.

In [ ]:
df = pd.read_csv("file.csv")

threshold = 0.2
cols_to_drop = df.columns[df.isnull().mean() > threshold]

df = df.drop(columns=cols_to_drop)

### Use groupby with transform() to add a column showing each row's value as a percentage of its group total.

In [ ]:
df["Percent"] = df["Sales"] / df.groupby("Region")["Sales"].transform("sum") * 100

### Reshape a DataFrame from wide format to long format using pd.melt().

In [ ]:
pd.melt(df,
        id_vars=["ID"],
        var_name="Year",
        value_name="Sales")

Given a DataFrame with a datetime column, extract the day of week and create a new column with it, then find which weekday has the highest average sales.

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])
df["Weekday"] = df["Date"].dt.day_name()

result = df.groupby("Weekday")["Sales"].mean().sort_values(ascending=False)
print(result)

Merge two DataFrames with different column names representing the same key using appropriate parameters.

In [ ]:
pd.merge(df1, df2, left_on="UserID", right_on="CustomerID")

Use pd.cut() to bin an age column into labeled groups (Child, Teen, Adult, Senior).

In [ ]:
bins = [0,12,19,59,100]
labels = ["Child","Teen","Adult","Senior"]

df["Age_Group"] = pd.cut(df["Age"], bins=bins, labels=labels)

Detect and remove duplicate rows, but only considering a subset of columns.

In [ ]:
df = df.drop_duplicates(subset=["Name","Email"])

Apply a custom function to a grouped DataFrame using apply() that returns the range (max - min) of a column.

In [ ]:
df.groupby("Category")["Sales"].apply(lambda x: x.max() - x.min())

Convert a long-format DataFrame to a pivot table and then reverse it back using stack().

In [ ]:
pivot = df.pivot(index="ID", columns="Year", values="Sales")

long_again = pivot.stack().reset_index(name="Sales")

Chain at least 4 Pandas operations (filter, groupby, agg, sort) in a single expression and explain each step.

In [ ]:
result = (
    df[df["Sales"] > 100]              # filter rows
    .groupby("Region")                 # group by Region
    .agg({"Sales":"mean"})             # compute mean
    .sort_values("Sales", ascending=False)  # sort descending
)